@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

body {
	background-color: #F3F3F3;
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

.d-flex {
	display: flex !important;
}

.flex-direction-column {
	flex-direction: column;
}

.align-items-center {
	align-items: center;
}

.align-items-end {
	align-items: end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between !important;
}

.justify-content-end {
	justify-content: flex-end;
}

.p-relative {
	position: relative;
}

header {
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-nav {
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 12px 24px;
	border-radius: 25px;
	color: #6200EE;
	border: none;
	font-weight: 400;
	background-color: transparent;
}

.btn-nav.active {
	background: rgba(98, 0, 238, 0.12);
}

button.btn-cancel,
.btn-inverted {
	color: rgba(98, 0, 238, 1);
	border: 1px solid rgba(0, 0, 0, 0.12);
	outline: none;
	background-color: transparent;
	font-size: 12px;
	border-radius: 16px;
	width: 100px;
	letter-spacing: 2px;
}

.btn-next,
.btn-primary {
	background-color: #6200EE;
	color: #FFF;
	padding: 8px;
	border-radius: 28px;
	font-size: 12px;
	letter-spacing: 1px;
	border: none;
	outline: none;
}

.btn-primary,
.btn-next {
	padding: 8px 16px;
	min-width: 100px;
	text-align: center;
}

.buttons-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.text-navy {
	color: #6200EE;
}

.text-red {
	color: rgba(176, 0, 32, 1)
}

.text-gray {
	color: rgba(0, 0, 0, 0.38);
}

.text-36 {
	font-size: 36px;
}

.text-24 {
	font-size: 24px;
}

.text-20 {
	font-size: 20px;
}

.text-16 {
	font-size: 16px;
}

.text-14 {
	font-size: 14px;
}

.text-12 {
	font-size: 12px;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.font-light {
	font-weight: 300;
}

.font-bold {
	font-weight: 700;
}

.font-bolder {
	font-weight: 900;
}

.bg-white {
	background-color: #FFF;
}

.c-pointer {
	cursor: pointer;
}

.content-container {
	width: 50%;
	max-width: 600px;
}

.input-container {
	position: relative;
	max-width: 450px;
}

textarea {
	height: 250px;
	width: 100%;
	padding: 12px;
	border-radius: 6px;
	font-size: 16px;
	resize: none;
}

.input-icon {
	position: absolute;
	bottom: calc(50% - 12px);
	right: 12px;
}

.input-icon-2 {
	position: absolute;
	bottom: calc(50% - 7px);
	right: 14px;
}

.input-icon-3 {
	position: absolute;
	bottom: calc(50% - 4px);
	right: 12px;
}

.input-icon-4 {
	position: absolute;
	right: -24px;
	top: calc(50% - 14px);
}

.tag-input {
	display: flex;
	background-color: rgba(33, 33, 33, 0.08);
	font-size: 14px;
	padding: 4px 8px;
	border-radius: 16px;
}

.label {
	font-size: 16px;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	opacity: 1 !important;
	z-index: 1 !important;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 8px 16px;
	border-radius: 6px;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	width: 225px;
	top: 16px;
	left: -20px;
	margin-left: 8px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.preview-container {
	height: fit-content;
	margin-top: 96px;
}

.preview-container .tag,
.tag,
.reply-btn {
	height: fit-content;
	border-radius: 25px;
	color: #6200EE;
	border: none;
	font-weight: 400;
	background: rgba(98, 0, 238, 0.12);
	width: fit-content;
	font-size: 14px;
	padding: 8px;
	min-width: 50px;
	text-align: center;
}

.tag {
	padding: 2px 8px !important;
}

.preview-profile-container {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.tags-container,
.skill-container {
	width: fit-content;
	font-size: 12px;
}

input[type="file"] {
	display: none;
}

.custom-file-upload {
	cursor: pointer;
}

.w-100.preview-default {
	min-height: 25vh;
	width: 100%;
}

.profile-col-1,
.profile-col-3 {
	width: 20%;
}

.profile-col-2 {
	width: 60%;
}

.profile-cols {
	margin-top: 4rem;
	position: relative;
}

.new-project-btn {
	color: #FFF;
	background-color: #5600E8;
	font-size: 14px;
	border-radius: 25px;
	outline: none;
	border: none;
}

.tab {
	width: 25%;
	text-align: center;
}

.w-100 {
	width: 100% !important;
}

.upvote-btn {
	background: rgba(98, 0, 238, 0.12);
	height: 36px;
	width: 120px;
	line-height: 36px;
	text-align: center;
	border-radius: 25px;
}

.modal .hide-in-mobile .upvote-btn {
	background: rgba(98, 0, 238, 1);
	color: #FFF;
}

.modal .hide-in-mobile .upvote-btn:hover,
.modal .hide-in-mobile .upvote-btn.active {
	background: rgba(98, 0, 238, 1);
}

.upvote-btn:hover,
.btn:hover,
.btn.active,
.upvote-btn.active {
	background: rgba(98, 0, 238, 0.4);
}

.main-preview {
	height: 22vh;
	border: 1px solid rgba(0, 0, 0, 0.12);
	width: 100%;
	border-radius: 3.5px;
}

.small-previews {
	width: 20%;
	height: 60px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 3.5px;
}

.participants {
	background-color: rgba(33, 33, 33, 0.08);
}

img.avatar-small-icon {
	height: 24px;
}

.participants {
	padding: 4px;
	border-radius: 20px;
}

img.edit-icon {
	position: absolute;
	right: 12px;
	height: 30px;
	top: 12px;
}

.avatar-container {
	position: relative;
}

img.profile-avatar {
	height: 150px;
	width: 150px;
	margin: 0 auto;
	display: block;
	object-fit: cover;
	border-radius: 50%;
}

img.profile-fire-icon {
	position: absolute;
	bottom: 0;
	right: 32%;
}

.border-bottom {
	border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}

.border-top {
	border-top: 1px solid rgba(33, 33, 33, 0.08);
}

.tag-container-profile {
	max-width: 200px;
}

.line-height-24 {
	line-height: 24px;
}

.discussion-avatar {
	height: 56px;
	width: 56px;
	object-fit: cover;
	border-radius: 50%;
}

.form-input-discussion-container .discussion-avatar {
	width: 78px;
}

.edit-icon-profile-discussion {
	position: absolute;
	top: 12px;
	right: 12px;
	cursor: pointer;
}

.preview-icon {
	height: 13px;
	width: 13px;
}

.discussion {
	border: 0.92px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

.preview-article-profile-container {
	border-radius: 4px;
}

.article-thumbnail {
	width: 50%;
	border-radius: 4px 0px 0px 4px;
}

.comments {
	border: 0.917112px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

.fire-icon-home {
	height: 24px;
}

.homepage-project-menu-container {
	justify-content: flex-end;
}

.homepage-project-menu {
	padding: 8px 12px;
	border-radius: 26px;
	cursor: pointer;
}

.homepage-project-menu.active {
	background-color: #F2E7FE;
}

.input-discussion-container {
	width: 100%;
}

img.pen-discussion-input {
	position: absolute;
	left: 14px;
	top: 14px;
}

input.input-discussion {
	padding-left: 40px !important;
	width: 100%;
	border: none;
	background-color: rgba(33, 33, 33, 0.08);
}

.add-tags-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	display: inline;
}

.bg-white-border {
	border: 0.92px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

.comment-btn,
.share-btn {
	height: 24px;
	width: 80px;
	font-size: 14px;
	justify-content: center;
	border: none;
	background: none;
	align-items: center;
}

.btn {
	border-radius: 16px;
}

.comment,
.reply-btn,
.comment-replies {
	margin-left: 64px;
}

.comment {
	margin-top: 12px;
}

.new-article-col-1 {
	width: 30%;
	min-width: 500px;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spinner {
	animation: rotate 1s linear infinite;
	background: #000;
	border-radius: 50%;
	height: 48px;
	width: 48px;
	position: relative;
}

.spinner:before,
.spinner:after {
	content: '';
	position: absolute;
}

.spinner:before {
	border-radius: 50%;
	background:
		linear-gradient(0deg, hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 0.9) 100%) 0% 0%,
		linear-gradient(90deg, hsla(0, 0%, 100%, 0.9) 0%, hsla(0, 0%, 100%, 0.6) 100%) 100% 0%,
		linear-gradient(180deg, hsla(0, 0%, 100%, 0.6) 0%, hsla(0, 0%, 100%, 0.3) 100%) 100% 100%,
		linear-gradient(360deg, hsla(0, 0%, 100%, 0.3) 0%, hsla(0, 0%, 100%, 0) 100%) 0% 100%;
	background-repeat: no-repeat;
	background-size: 50% 50%;
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
}

.loading {
	width: 300px;
	height: 300px;
}

.spinner:after {
	background: white;
	border-radius: 50%;
	top: 3%;
	bottom: 3%;
	left: 3%;
	right: 3%;
}

.avatar-login {
	height: 64px;
}

.login-container {
	width: 500px;
}

.login-button-container {
	width: 100%;
}

.btn-login {
	font-size: 14px;
	height: 45px;
	position: relative;
	border-radius: 50px;
	text-align: center;
	line-height: 40px;
	font-weight: 500;
}

img.login-socmed-icon {
	position: absolute;
	left: 20px;
	bottom: calc(50% - 12px);
}

.login-input-icon {
	position: absolute;
	right: 16px;
	bottom: calc(50% - 12px);
}

.btn-google-login {
	background: #EDEDED;
	border: 1px solid #B6B6B6;
}

.btn-linkedin-login {
	background: #017AB9;
	color: #FFF;
}

.btn-facebook-login {
	background: #3C5A9A;
	color: #FFF;
}

.login-input,
input[type=text],
input[type=email],
input[type=number],
input[type=password] {
	background: rgba(33, 33, 33, 0.08);
	border-radius: 4px;
	height: 48px;
	position: relative;
	width: 100%;
	padding-left: 12px;
	padding-right: 48px;
	border: transparent;
	outline: none;
	font-size: 16px;
	display: inline-block;
}

textarea {
	background: rgba(33, 33, 33, 0.08);
	border-radius: 4px;
	height: 120px;
	position: relative;
	width: 100%;
	padding-left: 12px;
	border: transparent;
	outline: none;
}

.link-btn {
	height: 36px;
	width: 140px;
	line-height: 36px;
	font-size: 14px;
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 50px;
}

.profile-container {
	align-items: flex-start;
}

.project-detail-intro,
.detail-project-col-1 {
	width: 100%;
}

.project-detail-content {
	width: 60%;
}

.detail-project-col-2 {
	top: 0;
	right: 0;
	width: 35%;
	position: sticky;
	display: table;
	margin-left: 2.5%;
}

.preview-images>img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.project-row {
	align-items: end;
	justify-content: space-between;
}

.header-setting,
.header-profile {
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.05);
}

.btn-nav-setting,
.btn-nav-profile {
	color: rgba(0, 0, 0, 0.38);
	background-color: #FFF;
	border: none;
	border-bottom: 2px solid transparent;
	outline: none;
	width: 100%;
	cursor: pointer;
}

.btn-nav-setting {
	width: 172px;
	;
}

.btn-nav-setting.active,
.btn-nav-setting:hover,
.btn-nav-profile.active,
.btn-nav-profile:hover {
	color: #000000;
	border-bottom: 2px solid #7F39FB;
	outline: none;
}

.setting-profile-container {
	width: 613px;
	margin: 0 auto;
}

.setting-profile-container .label {
	color: rgba(0, 0, 0, 0.87);
}

.w-fit {
	width: fit-content;
}

.btn-save-setting {
	color: rgba(98, 0, 238, 1);
	border: 1px solid rgba(0, 0, 0, 0.12);
	outline: none;
	background-color: transparent;
	font-size: 12px;
	border-radius: 20px;
	letter-spacing: 2px;
	padding: 12px 16px;
	cursor: pointer;
	flex-direction: row-reverse;
	width: fit-content;
	font-weight: 500;
	height: auto;
}

.border-none {
	border: none;
}

.btn-container-right {
	flex-direction: row-reverse;
}

.visibility-hidden {
	visibility: hidden;
}

.input-icon-project {
	position: absolute;
	bottom: calc(50% - 12px);
	right: 12px;
}

.col {
	width: 50%;
}

.main-preview-input {
	background: rgba(33, 33, 33, 0.08);
	border-radius: 4px;
}

.new-project-col {
	width: 50%;
	max-width: 600px;
}

.main-preview-input {
	height: 120px;
}

.input-icon-delete-link {
	position: absolute;
	top: 16px;
	right: -28px;
}

.input-icon-question-project {
	position: absolute;
	bottom: calc(50% - 4px);
	right: 12px;
}

.edit-headline-btn {
	padding: 4px 16px;
	background: rgba(0, 0, 0, 0.6);
	color: #FFF;
}

.mobile-only,
.mobile-only-flex,
.d-none {
	display: none !important;
}

.setting-alert {
	background-color: #F2E7FE;
	border: 1px solid #C9C9C9;
	border-radius: 4px;
	padding: 16px;
	position: absolute;
	top: 108px;
}

.open-email-btn {
	text-align: right;
	margin-top: 8px;
	cursor: pointer;
}

.main-preview-image img {
	width: 100%;
	max-width: 600px;
}

.setting-parent-menu.active,
.navbar-items>.active {
	background: #F2E7FE;
}

img.avatar-image.active {
	border: 5px solid #bb86fc;
	border-radius: 50%;
}

.login-modal {
	width: 100%;
	text-align: center;
	max-width: 500px;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.skill-container {
	display: block;
	width: 100%;
}

.tag {
	margin-bottom: 8px;
	display: inline-block;
}

.tag-container {
	width: 100%;
	display: inline-block;
	margin-left: -6px;
}

.participants {
	width: -moz-fit-content;
	width: fit-content;
	display: inline-flex;
	margin-right: 0 !important;
	margin-left: 12px !important;
	margin-bottom: 12px !important;
}

.tags-container .tag-input {
	width: -moz-fit-content;
	width: fit-content;
	display: inline-block;
}

img.article-thumbnail-img {
	width: 100%;
	height: 100%;
}

img.fire-icon {
	width: 16px;
}

.navbar-items {
	position: absolute;
	top: 71px;
	right: 0;
	max-width: 375px;
	width: 100%;
	margin-left: -17px;
	z-index: 99;
	box-shadow: 0px 8px 10px rgba(193, 193, 193, 0.14), 0px 8px 10px rgba(193, 193, 193, 0.14), 0px 8px 10px rgba(193, 193, 193, 0.14);
}

.navbar-items>* {
	width: 100%;
	display: block;
}

.d-block {
	display: block !important;
}

.btn-login {
	width: 100%;
	cursor: pointer;
}

img.avatar-image {
	height: 56px;
	width: 56px;
	object-fit: cover;
	border-radius: 50%;
}

img.avatar-image.active {
	border: 5px solid #bb86fc;
	border-radius: 50%;
}

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.05);
	/* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	position: relative;
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-y: auto;
	height: auto;
}

.input-icon-checklist {
	position: absolute;
	bottom: calc(50% - 12px);
	right: 12px;
}

.input-icon-question {
	position: absolute;
	bottom: calc(50% - 6px);
	right: 12px;
}

label {
	display: inline-block;
	font-family: sans-serif;
	cursor: pointer;
}

.preview-new-project {
	width: 70%;
}

.paste-url-video {
	max-width: 500px;
	width: 100%;
}

.new-project-thumbnail {
	width: 225px !important;
	height: auto;
}

.main-preview-image {
	width: 100%;
	display: block;
	margin: 0 auto !important;
	margin-bottom: 8px !important;
}

button {
	cursor: pointer;
}

.new-article-col-2 {
	width: 100%;
}

.reply-btn {
	cursor: pointer;
}

.mw-100-important {
	max-width: 100%;
	width: 100% !important;
}

.close-modal-icon-container {
	display: flex;
	justify-content: flex-end;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	cursor: pointer;
}

img.close-modal-icon {
	height: 18px;
}

.header-setting::-webkit-scrollbar,
.header-profile::-webkit-scrollbar {
	display: none;
}

.setting-profile-container .avatar-image {
	height: 150px;
	width: 150px;
}

/* webshare api */
.hidden {
	display: none;
}

svg {
	width: 20px;
	height: 20px;
	margin-right: 7px;
}

.socmed-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #777;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.1;
	letter-spacing: 2px;
	text-transform: capitalize;
	text-decoration: none;
	white-space: nowrap;
	border-radius: 4px;
	border: 1px solid #ddd;
	cursor: pointer;
}

.socmed-btn:hover {
	border-color: #cdd;
}

.share-links {
	max-width: calc(100% - 120px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.copy-link {
	padding-left: 16px;
	padding-right: 16px;
	height: 24px;
	width: 120px;
	font-size: 12px !important;
}

.share-dialog {
	width: 95%;
	max-width: 500px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
	z-index: 2;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 4px;
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.share-dialog header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.targets {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	margin-bottom: 20px;
}

.close-button {
	background-color: transparent;
	border: none;
	padding: 0;
}

.close-button svg {
	margin-right: 0;
}

.link-to-copy {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 4px;
	background-color: #eee;
}

.pen-url {
	margin-right: 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.modal-content.discussion-detail {
	width: calc(100% - 32px);
}

.preview-article-profile-container .tags-container {
	width: 100%;
}

.modal-content.project-detail {
	margin: 24px 16px !important;
	margin-top: 0 !important;
	left: calc(50% + -16px);
	height: calc(100% - 96px);
	max-width: 1100px;
}

html {
	scroll-behavior: smooth;
}

.tags-modal .tags-container {
	width: 100%;
}

.modal-content.tags-modal {
	width: 350px;
}

.detail-project-cols .upvote-btn {
	width: 155px;
}

.project-detail-intro.preview-container {
	width: calc(100% - 32px) !important;
}

.project-detail-intro.preview-container {
	width: calc(100% - 64px) !important;
	margin-top: 16px;
	margin-left: 32px !important;
}

.login-modal-container {
	height: calc(100vh - 72px);
	display: flex;
	align-items: center;
}

img.input-icon-2.eye {
	bottom: calc(50% - 12px);
	cursor: pointer;
}

.tags-container img {
	height: 16px;
	margin: auto;
}

.tablet-only {
	display: none;
}

.article-thumbnail-container {
	width: 100%;
	max-width: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.article-thumbnail-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
}


button.btn-login.btn-google-login {
	border-radius: 25px !important;
}

button.btn-login.btn-facebook-login.metro {
	width: 100%;
}

button.btn-login.btn-google-login>div {
	height: 30px;
	line-height: 32px;
	padding: 0 !important;
	margin-left: 20px;
	position: absolute;
}

button.btn-login.btn-google-login>span {
	width: 100%;
}

.navbar-items.left-navbar {
	left: 20px;
}

.modal .tags-modal .tags-container>.tag {
	width: 100% !important;
}

.c-default {
	cursor: default;
}

.popular-creator {
	max-width: 600px;
	margin-top: 64px !important;
	margin-bottom: 64px !important;
}

.article-detail-container {
	width: 100%;
}

.square-img,
.square-img>img {
	width: 120px !important;
	height: 120px !important;
}

.square-img>img {
	object-fit: cover;
}

.modal.tags-modal {
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.1);
}

.modal.sign-option-modal {
	z-index: 2;
}

.sign-option-modal .close-modal-icon-container {
	position: absolute;
	right: 16px;
	top: 16px;
}

.modal-content.sign-option-modal {
	width: 500px;
}

img.sign-option-avatar.mb-5 {
	height: 64px;
	width: 64px;
	display: block;
	margin: 0 auto;
}

.sign-option-modal .btn {
	display: block;
	margin: 0 auto;
	width: 300px;
}

.discussion-btn {
	width: auto;
}

.discussion-detail .close-modal-icon-container {
	position: relative;
}

.modal.comment-modal {
	background-color: rgba(0, 0, 0, 0.2);
}

.modal-content.comment-modal {
	bottom: 0px;
	transform: translate(0, 0);
	left: 0;
}

.modal.add-discussion {
	z-index: 2 !important;
	height: 100vh;
}

.modal.add-discussion .modal-content {
	transform: translate(0, 0);
	left: 0;
	bottom: 0;
	position: sticky;
}

.setting-profile-container .alert.alert-danger {
	max-width: 450px;
}

.modal-content.discussion {
	max-width: 900px;
	width: 100%;
	max-height: 100vh;
}

.tags-container-tagpage .tag {
	height: 24px;
	min-width: 100px;
	padding: 2px;
	width: -moz-fit-content;
	width: fit-content;
}

.columns {
	width: 50%;
}

.select-modal {
	position: absolute;
	right: 0;
	top: 45px;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.select-child {
	cursor: pointer;
	padding: 12px;
	font-weight: 500;
	letter-spacing: 1.25px;
	background: #FFF;
	font-size: 10px;
}

.select-child:hover,
.select-child.active {
	background: #E2D6F2;
}

.filter-btn {
	border-radius: 12px;
	background: rgba(98, 0, 238, 0.12);
}

.modal.discussion {
	z-index: 2;
}

.custom-file-input:lang(en)~.custom-file-label::after {
	height: 46px !important;
	line-height: 36px;
}

.custom-file-label {
	height: 48px !important;
	align-items: center;
	display: flex;
}

.discussion-detail .tag {
	padding: 6px 8px !important;
}

@media only screen and (min-width: 790px) and (max-width: 1025px) {

	.profile-col-1,
	.profile-col-3 {
		width: 25%;
	}

	.profile-col-2 {
		width: 50%;
	}

	.article-thumbnail-container {
		position: relative;
		width: 200px;
		height: auto;
		overflow: hidden;
	}

	.article-thumbnail-container img {
		width: 100%;
		height: auto;
	}

	.tablet-only {
		display: block !important;
	}

	.tablet-only-flex {
		display: flex !important;
	}

	.hide-in-tablet {
		display: none !important;
	}
}

@media only screen and (max-width: 769px) {
	.mobile-only {
		display: block !important;
	}

	.mobile-only-flex {
		display: flex !important;
	}

	.hide-in-mobile,
	.tablet-only {
		display: none !important;
	}

	.setting-profile-container {
		width: 100%;
		padding: 0 16px;
		padding-bottom: 8px;
		overflow-x: hidden;
	}

	.header-setting,
	.header-profile {
		max-width: 100%;
		width: 100% !important;
		display: inline-block !important;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	header.px-6 {
		padding: 0 16px !important;
	}

	.setting-avatar-container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.setting-btn-container {
		flex-direction: column;
		margin-top: 32px;
		margin-bottom: 48px;
		height: 90px;
		justify-content: space-between;
	}

	.setting-info-container {
		display: flex;
		flex-direction: column-reverse;
		text-align: center;
	}

	.project-detail-intro.preview-container {
		display: flex !important;
		flex-direction: column;
		width: 100% !important;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 0 !important;
	}

	.new-project-thumbnail {
		margin-bottom: 7px !important;
		height: fit-content;
	}

	.project-detail-button-container {
		flex-direction: column;
		margin-bottom: 24px;
	}

	.mobile-only>.project-detail-button-container-2.d-flex {
		justify-content: space-between;
		margin-bottom: 64px !important;
	}

	.project-detail-button-container-2>div {
		border: none;
		padding-left: 0;
		width: 115px;
	}

	.project-detail-button-container>div {
		width: 100%;
		justify-content: space-between;
	}

	.project-row {
		flex-direction: column-reverse;
		margin-bottom: 64px !important;
		justify-content: space-between;
	}

	.project-row>div {
		margin-left: 0px !important;
	}

	.flex-direction-column-mobile {
		flex-direction: column;
	}

	.project-detail-socmed {
		justify-content: space-between;
	}

	.project-detail-socmeds {
		justify-content: space-between;
		height: 60px;
	}

	.main-preview-image {
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin-left: -64px;
		margin-right: -64px;
		margin-bottom: 24px !important;
		background-size: cover;
		background-position: 50% 50%;
	}

	.home-container {
		flex-direction: column;
		padding: 0 16px;
	}

	.home-container .tag {
		width: fit-content !important;
	}

	.home-container .profile-cols {
		width: 100%;
		margin: auto 0 !important;
		margin-top: 48px !important;
	}

	div>.home-container {
		flex-direction: column;
		padding: 0 16px !important;
	}

	.preview-container {
		display: block;
	}

	.home-container .tags-container {
		width: fit-content;
		text-align: center;
		display: flex;
	}

	.article-thumbnail {
		width: 100%;
		max-width: 100%;
	}

	.article-thumbnail .article-thumbnail-img {
		width: calc(100vw - 32px);
	}

	.preview-article-profile-container {
		flex-direction: column;
	}

	.article-top-profile .tags-container {
		width: 100%;
	}

	.article-top-profile {
		padding: 12px 24px;
	}

	.article-author {
		margin-top: 16px !important;
	}

	.profile-col-1,
	.profile-col-3 {
		width: 100%;
		margin-top: 48px;
	}

	.profile-container.flex-direction-column-mobile {
		padding-left: 16px !important;
		padding-right: 16px !important;
	}

	.profile-content>.d-flex.flex-direction-column-mobile {
		margin-bottom: 0 !important;
	}

	.profile-col-2.profile-cols {
		width: 100%;
		margin: auto !important;
		margin-top: 48px !important;
	}

	.new-project-btn {
		margin-top: 32px;
		margin-bottom: 48px;
		width: fit-content;
	}

	.profile-headline.mobile {
		width: 100%;
		margin-top: 16px;
		margin-bottom: 0 !important;
	}

	.profile-cols .skill-container {
		width: fit-content;
	}

	.profile-col-3.profile-cols {
		margin-bottom: 48px;
	}

	.tag-container-profile {
		width: 100%;
		max-width: 100%;
	}

	.profile-cols .tags-container .tag,
	.discussion-container .tag,
	.tag-container-profile .tag {
		width: fit-content !important;
	}

	.new-article-container.d-flex {
		padding-left: 16px !important;
		padding-right: 16px !important;
		width: 100%;
	}

	.new-article-col-1.new-article-col {
		width: 100%;
		min-width: 100%;
		margin-right: 0 !important;
	}

	.new-article-col-2 {
		min-width: 60%;
	}

	.new-article-default-image {
		width: 132px;
		margin-bottom: 12px;
	}

	.new-article-image-inputs {
		height: 89px;
	}

	.new-project-container {
		padding-left: 16px !important;
		padding-right: 16px !important;
	}

	.new-project-container.d-flex {
		margin-left: 16px !important;
		margin-right: 16px !important;
		padding: 0 !important;
	}

	.content-container.pt-6.pb-2 {
		width: 100%;
		margin-right: 0 !important;
	}

	.tooltip .tooltiptext {
		left: auto;
		right: 0;
	}

	.preview-images>img {
		width: 120px;
		display: inline-flex;
		margin-right: 0 !important;
		margin-left: 12px !important;
		margin-bottom: 12px !important;
	}

	.preview-images>img:first-child {
		margin-left: 0px !important;
	}

	.preview-images-container {
		display: inline-block;
		margin-left: -6px;
	}

	.new-article-col .tags-container,
	.skill-container {
		margin-top: 16px;
		margin-bottom: 48px !important;
	}

	.new-article-col .tags-container {
		display: block;
	}

	.article-top-profile .tags-container {
		width: 100%;
	}

	.discussion .tags-container {
		margin-bottom: 16px !important;
	}

	.burger-icon {
		height: 32px;
	}

	.btn-login {
		width: 100%;
	}

	.close-icon-modal-tags {
		float: right;
	}

	.close-icon-modal-tags {
		position: absolute;
		right: 8px;
		top: 8px;
	}

	.link-btn {
		height: 36px;
		width: 120px !important;
		display: flex !important;
		justify-content: center;
	}

	.modal .upvote-btn {
		width: 110px;
	}

	.preview-icon-url {
		width: 24px;
		height: 24px;
	}

	.detail-project-col-2.detail-project-cols .user-info-container.bg-white-border {
		padding: 0 !important;
		border: none;
		margin-bottom: 24px;
	}

	.preview-images-container {
		width: 100%;
		overflow: auto;
	}

	.preview-images-container::-webkit-scrollbar {
		display: none;
	}

	.modal-content.tags-modal {
		width: calc(100% - 32px);
	}

	.detail-project-col-2.detail-project-cols {
		position: relative;
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
	}

	.project-detail-container.bg-white {
		padding: 0 !important;
		margin: 0 !important;
	}

	.project-detail-container.bg-white>div.d-flex {
		flex-direction: column;
	}

	.project-detail-container.bg-white>div.d-flex {
		flex-direction: column;
	}

	.project-detail-content,
	.project-detail-content {
		border: none;
		width: 100%;
	}

	.detail-project-col-1.detail-project-cols {
		padding: 0 !important;
	}

	input.input-discussion {
		padding: 0 12px !important;
	}

	.fab-discussion {
		position: fixed;
		width: 56px;
		height: 56px;
		bottom: 16px;
		right: 16px;
		cursor: pointer;
		background: #6200EE;
		box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
		z-index: 2;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.main-preview-image.minus-width {
		margin: auto -20px !important;
		width: calc(100% + 40px);
	}

	.btn-nav-setting {
		min-width: 172px;
		width: 25%;
	}
}

@media only screen and (max-width: 512px) {

	.header-setting,
	.header-profile {
		max-width: 100%;
		width: 656px !important;
		display: inline-block !important;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}

	.btn-nav-setting,
	.btn-nav-profile {
		width: 172px;
	}

	img.new-project-thumbnail {
		width: 150px !important;
		height: 150px !important;
		object-fit: cover;
	}
}

/* spacing */
.margin-auto {
	margin: 0 auto;
}

/* Fixed Spacing */
.m-0 {
	margin: 0 !important
}

.mt-0,
.my-0 {
	margin-top: 0 !important
}

.mr-0,
.mx-0 {
	margin-right: 0 !important
}

.mb-0,
.my-0 {
	margin-bottom: 0 !important
}

.ml-0,
.mx-0 {
	margin-left: 0 !important
}

.m-1 {
	margin: .25rem !important
}

.mt-1,
.my-1 {
	margin-top: .25rem !important
}

.mr-1,
.mx-1 {
	margin-right: .25rem !important
}

.mb-1,
.my-1 {
	margin-bottom: .25rem !important
}

.ml-1,
.mx-1 {
	margin-left: .25rem !important
}

.m-2 {
	margin: .5rem !important
}

.mt-2,
.my-2 {
	margin-top: .5rem !important
}

.mr-2,
.mx-2 {
	margin-right: .5rem !important
}

.mb-2,
.my-2 {
	margin-bottom: .5rem !important
}

.ml-2,
.mx-2 {
	margin-left: .5rem !important
}

.m-3 {
	margin: 1rem !important
}

.mt-3,
.my-3 {
	margin-top: 1rem !important
}

.mr-3,
.mx-3 {
	margin-right: 1rem !important
}

.mb-3,
.my-3 {
	margin-bottom: 1rem !important
}

.ml-3,
.mx-3 {
	margin-left: 1rem !important
}

.m-4 {
	margin: 1.5rem !important
}

.mt-4,
.my-4 {
	margin-top: 1.5rem !important
}

.mr-4,
.mx-4 {
	margin-right: 1.5rem !important
}

.mb-4,
.my-4 {
	margin-bottom: 1.5rem !important
}

.ml-4,
.mx-4 {
	margin-left: 1.5rem !important
}

.m-5 {
	margin: 2rem !important
}

.mt-5,
.my-5 {
	margin-top: 2rem !important
}

.mr-5,
.mx-5 {
	margin-right: 2rem !important
}

.mb-5,
.my-5 {
	margin-bottom: 2rem !important
}

.ml-5,
.mx-5 {
	margin-left: 2rem !important
}

.m-6 {
	margin: 3rem !important
}

.mt-6,
.my-6 {
	margin-top: 3rem !important
}

.mr-6,
.mx-6 {
	margin-right: 3rem !important
}

.mb-6,
.my-6 {
	margin-bottom: 3rem !important
}

.ml-6,
.mx-6 {
	margin-left: 3rem !important
}

.p-0 {
	padding: 0 !important
}

.pt-0,
.py-0 {
	padding-top: 0 !important
}

.pr-0,
.px-0 {
	padding-right: 0 !important
}

.pb-0,
.py-0 {
	padding-bottom: 0 !important
}

.pl-0,
.px-0 {
	padding-left: 0 !important
}

.p-1 {
	padding: .25rem !important
}

.pt-1,
.py-1 {
	padding-top: .25rem !important
}

.pr-1,
.px-1 {
	padding-right: .25rem !important
}

.pb-1,
.py-1 {
	padding-bottom: .25rem !important
}

.pl-1,
.px-1 {
	padding-left: .25rem !important
}

.p-2 {
	padding: .5rem !important
}

.pt-2,
.py-2 {
	padding-top: .5rem !important
}

.pr-2,
.px-2 {
	padding-right: .5rem !important
}

.pb-2,
.py-2 {
	padding-bottom: .5rem !important
}

.pl-2,
.px-2 {
	padding-left: .5rem !important
}

.p-3 {
	padding: 1rem !important
}

.pt-3,
.py-3 {
	padding-top: 1rem !important
}

.pr-3,
.px-3 {
	padding-right: 1rem !important
}

.pb-3,
.py-3 {
	padding-bottom: 1rem !important
}

.pl-3,
.px-3 {
	padding-left: 1rem !important
}

.p-4 {
	padding: 1.5rem !important
}

.pt-4,
.py-4 {
	padding-top: 1.5rem !important
}

.pr-4,
.px-4 {
	padding-right: 1.5rem !important
}

.pb-4,
.py-4 {
	padding-bottom: 1.5rem !important
}

.pl-4,
.px-4 {
	padding-left: 1.5rem !important
}

.p-5 {
	padding: 2rem !important
}

.pt-5,
.py-5 {
	padding-top: 2rem !important
}

.pr-5,
.px-5 {
	padding-right: 2rem !important
}

.pb-5,
.py-5 {
	padding-bottom: 2rem !important
}

.pl-5,
.px-5 {
	padding-left: 2rem !important
}

.p-6 {
	padding: 3rem !important
}

.pt-6,
.py-6 {
	padding-top: 3rem !important
}

.pr-6,
.px-6 {
	padding-right: 3rem !important
}

.pb-6,
.py-6 {
	padding-bottom: 3rem !important
}

.pl-6,
.px-6 {
	padding-left: 3rem !important
}

.alertDanger {
	background-color: rgb(255, 181, 181);
}

.alertSuccess {
	background-color: rgb(230, 253, 194)
}

.overflow {
	overflow: hidden !important;
	text-overflow: ellipsis;
}